* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: #FFFFFF;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container header {
    width: 100%;
    height: 808px;
    background-image: url(./media/image/headerbacground.png);
    background-size: 100%;
}

.container header nav {
    width: 1264px;
    margin: 0 auto;
    margin-top: 46px;
    height: 46px;
    color: #FCFCFC;
    display: flex;
    justify-content: space-between;
}

.container header nav .navLeft {
    display: flex;
    align-items: center;
    gap: 40px;
}

.container header nav .navLeft img {
    width: 255px;
    cursor: pointer;
}

.container header nav .navLeft ul {
    display: flex;
    align-items: center;
    gap: 56px;
}

.container header nav .navLeft ul li {
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #FCFCFC;
    cursor: pointer;
    transition: transform 0.1s;
}

.container header nav .navLeft ul li:hover {
    transition: transform 0.1s;
    transform: scale(1.030) translateY(-2px);
}

.container header nav .navRight {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container header nav .navRight button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.container header nav .navRight button:active {
    transform: scale(0.95);
}

.container header nav .navRight button img {
    cursor: pointer;
}

.container header .header {
    width: 1264px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 106px;
    margin-top: 300px;
}

.container header .header .headerTitle {
    display: flex;
}

.container header .header .headerTitle span {
    width: 579px;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.container header .header .headerInfos {
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 16px;
    background: url(./media/image/bacgrounH.jpg), #970000;
    background-blend-mode: darken, normal;
    box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.1), 0px 12px 32px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -240px;
}

.container header .header .headerInfos span {
    font-weight: 700;
    font-size: 46px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

.container header .header .headerInfos p {
    width: 586px;
    font-weight: 600;
    font-size: 24px;
    line-height: 149%;
    text-align: center;
    color: #FFFFFF;
}

.container header .header .headerInfos button {
    width: 125px;
    height: 35px;
    background-color: #FF753A;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    border-radius: 32px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.container header .header .headerInfos button:hover {
    transition: transform 0.2s;
    transform: translateY(-1.5px);
}

.container main {
    width: 100%;
    margin-top: 300px;
}

.container main .products {
    width: 1264px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.container main .products .productTitle {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #505050;
    position: relative;
}

.container main .products .productTitle::after {
    content: "";
    width: 80px;
    height: 3px;
    background-color: #AB0433;
    position: absolute;
    left: 35%;
    top: -10px;
}

.container main .products .productr {
    width: 1264px;
    margin: 0 auto;
    display: flex;
    gap: 32px;
}

.container main .products .productr .product {
    width: 400px;
    height: 417px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: radial-gradient(98.56% 98.92% at 1.22% 1.08%, #FBFBFB 0%, #D3D3D3 100%);
    border-radius: 10px;
    filter: drop-shadow(0px 2px 4px rgba(28, 5, 77, 0.1)) drop-shadow(0px 12px 32px rgba(0, 0, 0, 0.05));
}

.container main .products .productr .product img {
    width: 314px;
    justify-self: center;
    align-self: center;
    transition: transform 0.2s;
}

.container main .products .productr .product img:hover {
    transform: scale(1.1) translateY(-10px);
    transition: transform 0.2s;
    cursor: pointer;
}

.container main .products .productr .product .productInfo {
    width: 400px;
    height: 139px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 16px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 26px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.container main .products .productr .product .productInfo .productName {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container main .products .productr .product .productInfo .productName .productname {
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #252525;
}

.container main .products .productr .product .productInfo .productName .productPrice {
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    text-align: right;
    color: #252525;
}

.container main .products .productr .product .productInfo .productinfo {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #767676;
}

.container main .products .productr .product .productInfo button {
    width: 125px;
    height: 22px;
    border: 1px solid #EAEAEA;
    border-radius: 20px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    margin-top: 15px;
    padding: 0px 3px;
}

.container main .acsesuar {
    width: 100%;
    height: 665px;
    background-color: #ECECEC;
    margin-top: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container main .portfolioCon {
    width: 1264px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 83px;
    gap: 48px;
}

.container main .portfolioCon .protfolioTitle {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #505050;
    position: relative;
}

.container main .portfolioCon .protfolioTitle::after {
    content: "";
    width: 80px;
    height: 3px;
    background-color: #AB0433;
    position: absolute;
    left: 35%;
    top: -10px;
}

.container main .portfolioCon .portfolios {
    width: 1264px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.container main .portfolioCon .portfolios .protfolio {
    border-radius: 10px;
    width: auto;
    height: 609px;
    display: flex;
    flex-direction: column;
}

.container main .portfolioCon .portfolios .protfolio .c3 {
    background-color: #252525;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container main .portfolioCon .portfolios .protfolio .cF {
    background-color: #EAEAEA;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container main .portfolioCon .portfolios .protfolio .protfolioInfo {
    width: 100%;
    height: 122px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.container main .portfolioCon .portfolios .protfolio .c3 .portfolioName {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
}

.container main .portfolioCon .portfolios .protfolio .c3 .protfolioText {
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #C4C4C4;
}

.container main .portfolioCon .portfolios .protfolio .cF .portfolioName {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #202020;
}

.container main .portfolioCon .portfolios .protfolio .cF .protfolioText {
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #767676;
}

.container footer {
    width: 100%;
    height: 290px;
    background-color: #505050;
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container footer .footerMain {
    width: 1264px;
    height: 80%;
    margin: 0 auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.container footer .footerMain .links {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.container footer .footerMain .links ul {
    display: flex;
    flex-direction: column;
    gap: 9px;
    position: relative;
}

.container footer .footerMain .links ul::after {
    content: "";
    position: absolute;
    width: 58px;
    height: 2px;
    background-color: #FFFFFF;
    top: -10px;
}

.container footer .footerMain .links ul span {
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
}

.container footer .footerMain .links ul li {
    height: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
    cursor: pointer;
    user-select: none;
}

.container footer .footerMain .links ul li:hover {
    border-bottom: 1px solid white;
}

.container footer .footerMain .massengeLinks {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 32px;
}

.container footer .footerMain .massengeLinks .icons {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.container footer .footerBottom {
    width: 100%;
    height: 34px;
    background-color: #252525;
}

.container footer .footerBottom .footerBottomCon {
    height: 100%;
    width: 1264px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: start;
}

.container footer .footerBottom .footerBottomCon span {
    font-weight: 400;
    font-size: 12.8px;
    color: #FFFFFF;
}

/* responsive mobile */

@media screen and (min-width: 360px) and (max-width: 414px) {
    body {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .container header {
        background-image: url(./media/image/Rectangle\ 79.png);
        background-repeat: no-repeat;
    }

    .container header nav {
        width: 100%;
        padding: 0px 20px;
    }

    .container header nav .navLeft img {
        width: 153px;
    }

    .container header nav .navLeft ul {
        display: none;
    }

    .container header .header {
        width: 100%;
        padding: 0px 20px;
        margin-top: 110px;
        align-items: center;
        justify-content: center;
    }

    .container header .header .headerTitle span {
        width: 310px;
        font-weight: 700;
        font-size: 32px;
        text-align: center;
    }

    .container header .header .headerInfos {
        width: 328px;
        height: 168px;
        justify-self: center;
        align-self: center;
    }

    .container header .header .headerInfos span {
        font-weight: 700;
        font-size: 21px;
    }

    .container header .header .headerInfos p {
        font-weight: 600;
        font-size: 10px;
        width: 226px;
    }

    .container header .header .headerInfos button {
        min-width: 103px;
        min-height: 32px;
    }

    .container main {
        width: 100%;
        margin-top: 0;
        transform: translateY(-120px);
    }

    .container main .products {
        width: 100%;
        padding: 0px 20px;
    }

    .container main .products .productTitle {
        font-weight: 700;
        font-size: 24px;
    }

    .container main .products .productTitle::after {
        width: 60px;
    }

    .container main .products .productr {
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    .container main .products .productr .product {
        width: 328px;
        height: 417px;
    }

    .container main .products .productr .product .productInfo {
        width: 328px;
    }

    /* .container main .mobileProducts {
        transform: translateY(-200px);
    } */

    .container main .acsesuar {
        width: 100%;
        height: 1466px;
    }

    .container main .portfolioCon {
        width: 100%;
    }

    .container main .portfolioCon .protfolioTitle {
        font-weight: 700;
        font-size: 24px;
    }

    .container main .portfolioCon .protfolioTitle::after {
        width: 60px;
    }

    .container main .portfolioCon .portfolios {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .container main .portfolioCon .portfolios .protfolio {
        width: 327px;
        height: 433px;
    }

    .container main .portfolioCon .portfolios .protfolio img {
        width: 327px;
        height: 311px;
    }

    .container footer {
        width: 100%;
    }

    .container footer .footerMain  {
        width: 100%;
        padding-top: 37px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container footer .footerMain .links ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container footer .footerMain .links .mobileNone {
        display: none;
    }

    .container footer .footerMain .massengeLinks .footerLogo {
        display: none;
    }

    .container footer .footerBottom {
        width: 100%;
    }

    .container footer .footerBottom .footerBottomCon {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}